.logo-class{
  font-size:3em;
  font:Tangerine;
}

.question-mktng{
  font-size:1.6em;
  font-weight:bolder;
  color:black;
}

.answer-mktng{
 font-size:1.6em;
 font-weight:bold;
 color:black;
}

#sign-up-box{
  width: 50%;
  height:500px;
  padding: 50px 25px;
  border:1px solid darkblue;
  border-radius:10px;
  padding:10px 10px;
  background-color:white;
}

.form-group{
  position:relative;
  min-height:50px;
  height:auto;
  display:block;
  width:auto;
}

.tc-form-group{
  height:auto;
}

.btn-form-group{
  padding:20px 0 10px 0;
}

.login-group{
  position:relative;
  min-height:50px;
  height:auto;
  display:block;
}

.social-group{
  position:relative;
  min-height:70px;
  height:auto;
  display:block;
}

.mediumsignuplabel{
  border:0;
  width:auto;
  font-size:14px;
  color: #848383;
  float:left;
  word-wrap:normal;
}

.signup-input{
  border:1px solid #a0b3b0;
  width:96%;
  position:absolute;
  margin-right:0;
}

.login-input{
  border:1px solid #a0b3b0;
  width:98%;
  position:absolute;
  margin-right:0;
}

.panel-body-contents > div:last-child {
  display:none;
}

.required{
  float:right;
  padding-left:2px;
  font-size: 12px;
  font-style: bold;
}

#submit-regn{
  height:40px;
}

.perf-criteria-box{
  float:left;
  min-height:450px;
}

.checkbox{
  min-height:50px;
  padding-top:20px;
}

.checkbox input{
    padding-left:20px;
}

#perf-categories{
  align: right;
}

#chartgrp{
  min-width:650px;
  min-height:650px;
  align:center;
}

.checkbox label {
    display: block;
    float: left;
    padding-right: 10px;
    padding-left: 150px;
    white-space: nowrap;
}
.checkbox input {
    vertical-align: middle;
}
.checkbox label span {
    vertical-align: middle;
}

.table{
  border:1px solid black;
  color:black;
  font-weight: bolder;
}

.table td, th{
  width:150px;
  text-align:right;
  padding: 5px 5px;
}

#performance{
  padding-top:1px;
}

#graphs{
  padding-bottom:1px;
}
.smaller-form-group{
  font-size:11px;
  padding:5px 5px;
}

.header-content{
    position:relative;
    text-align: center;
  }

.outer-blurb{
  position:absolute;
  top:20%;
  left:2%;
}

#blurb{
  height:inherit;
  position:absolute;
  display:block;
}

#blurb p{
  font-family:Tangerine;
  font-size:55px;
  text-align: center;
  font-style: italic;
  color:#ff6600;
}

#profile-splitter{
  min-width:85%;
  width:94%;
  min-height:520px;
  height:auto;
  border:2px solid #DCDCDC;
  border-radius:25px;
  background-color: #DBDBD9;
  height:auto;
  color:#515152;
}


#signupbox{
  background-color: #FFFFFF;
  border:1px solid #a0b3b0;
  border-radius:15px;
  color:#515152;
  position:relative;
  float:right;
}

.required{
  height:auto;
  width:auto;
  padding:0;
  margin:0;
}

.k-mid, .k-top, .k-bot{
  margin-top:15px;
  width:90%;
  padding:12% 3%;
  text-align:left;
  color:#515152;
}

.fa.k-sprite,
.fa.k-sprite::before{
font-size: 12px;
line-height: 12px;
vertical-align: middle;
}

.ui-layout-resizer {
    background-color: #C0BFC7;
    width:2px;
}


.graph-tab{
  width:100%;
  height:15%;
  border-bottom:1px solid #C0BFC7;
  padding:5px 2px;
  display:table;
}

.chartgrp{
  display:inline;
  border-right:1px solid #C0BFC7;
  width:50%;
  display:table-cell;
}

.pichart{
  width:40px;
  height:40px;
  margin: 0 auto;
}

#percentcompleted{
  font-size: 12px;
  font-style:normal;
  font-weight: normal;
  padding:3px 2px;
  margin: 0 auto;
}


.profileParent{
	display: table;
  width:100%;
	table-layout:fixed;
  height: auto;
  text-align: center;
}

.form-row{
	display:table-row;
  width:100%;
  text-align:center;
  min-height:auto;
  margin: 0 auto;
	padding: 0px 5px 10px 5px;
}

.btnrow{
	display:table-row;
  width:100%;
  text-align:center;
  min-height:auto;
  margin: 0 auto;
	padding: 30px 15px 20px 15px;
}

.fieldgrp{
	display:table-cell;
	max-width:33%;
	width:33%;
  padding: 23px 5px 23px 5px;
}

.compactfieldgrp{
  display:table-cell;
	max-width:33%;
	width:33%;
  padding: 10px 3px 10px 3px;
}


.bdtltext, #as26label {
    width: 160px;
    font-size: 13px;
    padding: 4px 4px;
    font-weight:bolder;;
    margin-bottom:10px;
    border:none;
    color:#515152;
    text-align:left;
}

.bdtllabel{
   min-width:160px;
   text-align:left;
   vertical-align:left;
   font-size:12px;
   font-weight: bolder;
   padding:3px 0;
   display:inline-block;
   color:#515152;
}

#btngrp{
  margin-top:5px;
  width:100%;
  height:auto;
 }

 #bprofiledone, #addrprofiledone{
  min-width:450px;
  font-size:14px;
  height:35px;
  background-color: #C6C0C0;
  border:1px solid #6B6767;
  border-radius:8px;
  position:relative;
  top:50%;
  left:50%;
}

.smallsignuplabel{
	margin-right:25px;
  margin-left: 5px;
	font-size:12px;
  float:left;
  vertical-align: middle;
  color: #848383;
}

.smallsignuplabel-final{
  margin-right:0;
  margin-left: 5px;
	font-size:12px;
  float:left;
  vertical-align: middle;
  color: #848383;
}


.smalllabel{
  margin-right:15px;
	font-size:12px;
}

#containingdiv{
	width:100%;
	min-height:500px;
	height:auto;
}

.genderradio{
 float:left;
 vertical-align: middle;
}

.red-star{
	color:red;
}

.entirerowcell{
	width:100%;
  text-align:center;
  height:100%;
 	padding: 10px 5px 10px 5px;
}

.upld{
  width:100%;
  min-height:35px;
	padding-left:35px;
}

.upld input{
	font-family: 'Lato','Arvo','Open Sans', sans-serif;
  font-size:12px;
}

.profileDetails{
  margin-top:20px;
}

.tabdetails{
  background-color: #DBDBD9;
}

.profile-partial-div{
  margin: 0 auto;
  background-color: #DBDBD9;
}

.form-content{
  background-color: #DBDBD9;
  margin: 0 auto;
  padding: 0 0;
}

.contact-tabs{
  margin:0;
  padding: 0;
  background-color: #DBDBD9;
}

.contact-tabs .k-item{
  float:left;
  clear:right;
  display:inline;
}

#contactaddrtab-1, #contactaddrtab-2{
    background-color: #DBDBD9;
}

.k-content{
  min-width:100%;
  min-height:100%;
}

#topleftposition{
  text-align:left;
}

#sameaddrchk{
  font-size:12px;
  font-weight: bold;
  margin-left:8px;
}

#topleftposition{
  padding-left:5%;
}

.popover-title{
  background-color:white;
  color:red;
  border:none;
  width:200px;
  height:auto;
  padding: 10px 10px;
}

.popover-content{
  width:100%;
  height:100%;
}

.form-label{
  width:100%;
  text-align:left;
  font-size:13px;
  color: #00001a;
  font-style: normal;
  padding-left:0;
}

.form-text-input{
  text-align:left;
  font-size:14px;
  color: #00001a;
  font-style: normal;
  padding-left:0;
}

.form-margin-row{
  margin-top:10%;
}

.form-submit-input{
  min-width:90%;
  float:left;
}

.profilecontainer{
   padding:20px 30px;
}


.home-list {
  list-style:none;
  padding: 0;
  margin:10px 0 35px 0;
}

.home-list::after{
  content: "";
  display:table;
  clear: both;
}

.resetpwd{
  float:left;
  clear:right;
  padding:18px 10px;
}

.resetpwd > a{
  font-size: 12px;
}

.resetpwd > a:hover{
  font-weight: bold;
}

.borderless{
  background: #FFFFFF;
  border:0;
  color:#00000;
}

.home-list >  li > a {
    display:block;
    text-decoration:none;
    padding:15px;
    background-color: #4E7AC7;
    color:#16193B;
    font-size:15px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
  }

.home-list >  li > a:hover{
  background:#13103F;
  color: #FFFFFF;
}


.home-list .active a{
    background:#ADD5F7;
    color:#16193B;
    font-style:oblique;
  }


.tab-content > div:last-child {
  display:none;
}

#tc-popup{
  display:none;
  margin-top:auto;
  margin-bottom:auto;
}

#termsandconditions{
  border:1px solid lightgray;
  font-size:14px;
  padding:15px 10px;
  line-height: 1.6em;
}

#tcspan{
  font-size: 12px;
  color:blue;
  margin-left:5px;
}

#tcbox{
  width:100%;
  text-align: left;
}

.closer-row{
  margin-top:0;
}

.errormsg{
  display:none;
  margin-top:auto;
  margin-bottom:auto;
}

.popup-info{
  display:none;
  margin-top:auto;
  margin-bottom:auto;
}

.infodialog, .errordialog, .tcdialog{
  min-width:650px;
  min-height:50px;
  padding: 15px 10px;
}


.dialogokbtn{
  width:100%;
  min-height:35px;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.ui-dialog .ui-dialog-titlebar{
   height: 40px;
   background: #FFFFFF;
   color:darkblue;
   font-size:14px;
   border-top: none;
   border-left:none;
   border-right: none;
   border-bottom:1px solid lightgray;
}

.ui-dialog .ui-dialog-content {
  padding:10px 10px;
  font-family: Verdana,Arial,sans-serif;
  text-align: justify;
  padding:15px 15px;
  font-size: .3em;
  background: #FFFFFF;
}


.ui-dialog .ui-dialog-buttonpane {
    border: none;
    padding:5px 15px ;
    text-align: center;
  }


.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none !important;
    font-size:12px;
}

.dialogokbtn{
  min-width:100%;
  max-width:100%;
}

.ui-dialog{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#main-nav-bar{
  padding:.5% 3%;
}
