<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>J.U.S.T</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/X/ui/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/X/ui/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/X/ui/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll logo-class" href="#page-top">Ju.St</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="/X">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/X/borrow">Borrow</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/X/lend">Lend</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/profile">Profile</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">How it works</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact us</a>
                    </li>

                </ul>
            </div>

        </div>

    </nav>

    <header >
     <section id="graphs">
        <div class="container" >
            <div class="row">
                  <div class="col-lg-4 col-sm-6">
                     <div class="portfolio-box">
                         <div id="perf-categories">
                             <label> Performance by </label>
                             <div class="checkbox">
                                <label><input type="checkbox" value="">Credit class</label>
                             </div>
                              <div class="checkbox">
                                <label><input type="checkbox" value="" checked>Duration</label>
                              </div>
                              <div class="checkbox">
                                    <label><input type="checkbox" value="">Borrower Income</label>
                              </div>
                              <div class="checkbox">
                                    <label><input type="checkbox" value="">Loan purpose</label>
                              </div>
                        </div>
                    </div>
                  </div>

                    <div class="col-lg-4 col-sm-6">
                      <div class="portfolio-box" >
                        <div class="chartgrp">
                              <label for="%Completed_" class="bdtllabel" id="percentcompleted">Investment Makeup</label>
                                  <div id="pichart">
                                  </div>
                        </div>
                     </div>
                  </div>

                    <div class="col-lg-4 col-sm-6" >
                      <div class="portfolio-box">
                        <div class="chartgrp">
                              <label for="%Completed_" class="bdtllabel" id="percentcompleted">Performance by duration</label>
                                  <div id="barchart">
                                  </div>
                        </div>
                     </div>

                    </div>
              </div>
            </section>

          <section id="performance">
              <div class="container">
                  <div class="col-lg-12 text-center">
                    <section id="table2">
                      <div class="container" >
                          <div class="row">
                                <div class="col-lg-12 col-sm-8">
                                  <div id="table2">
                                    <table class="table perf-table">
                                      <thead>
                                         <tr>
                                             <th>Contract</th>
                                             <th>Total Amt invested</th>
                                             <th>Duration of loan</th>
                                             <th>Remaining balance</th>
                                             <th>Duration of remaining payment</th>
                                             <th>Avg return</th>
                                             <th>Exp return</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                       <tr>
                                         <td>1235</td>
                                         <td>33000</td>
                                         <td>6.5</td>
                                         <td>180000</td>
                                         <td>24</td>
                                         <td>3%</td>
                                         <td>2.5%</td>
                                       </tr>
                                       <tr>
                                         <td>3698</td>
                                         <td>50000</td>
                                         <td>10</td>
                                         <td>4000</td>
                                         <td>8</td>
                                         <td>5%</td>
                                         <td>6%</td>
                                       </tr>
                                       <tr>
                                         <td>5396</td>
                                         <td>8000</td>
                                         <td>4</td>
                                         <td>3000</td>
                                         <td>2</td>
                                         <td>25%</td>
                                         <td>30%</td>
                                       </tr>
                                     </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </section>
                    </div>
                  </header>

        <script src="/X/ui/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/X/ui/js/bootstrap.min.js"></script>
        <script src="/X/ui/kendoUI/js/kendo.all.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/X/ui/js/jquery.easing.min.js"></script>
        <script src="/X/ui/js/jquery.fittext.js"></script>
        <script src="/X/ui/js/wow.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/X/ui/js/creative.js"></script>
        <script src="/X/ui/js/user.js"></script>



    </body>
    </html>
